doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title Wiki.js Setup

    //- Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')

    //- Site Lang
    script.
      var siteConfig = !{JSON.stringify({ title: config.title })}

    //- CSS
    
      
    link(
      type='text/css'
      rel='stylesheet'
      href='/css/setup.70288fd105b9af8bcb4a.css'
      integrity='sha256-JRZ0GpiYR3S/Lz9lFXrx4IZN0tSgqaFMRemxvIEQsoo= sha512-3sHt9FFV4EpQuImnbE1RpXqn2j2/MokhpdP0ohQg7FLzcAYEcQSQ6+sWGGsLh7C5jB0emAxyUeUyMsBFDNxkPA=='
      crossorigin='use-credentials'
    )
      
    

    //- JS
    
      
    script(
      type='text/javascript'
      src='/js/runtime.207cfc7ae94360753c42.js'
      integrity='sha256-PLtwQYyQ/Dy4VasUU+trMNkExKQ3GjuNc8jnUPjm3AQ= sha512-2pj7KQzMVstG4ce+fNy+B7U7+lQSutdMtVoGugQTqva04Tly++Wdu++84T+U5t5NYojJd7090PwYN6swWbudjQ=='
      crossorigin='use-credentials'
      )
      
    
      
    script(
      type='text/javascript'
      src='/js/setup.70288fd105b9af8bcb4a.js'
      integrity='sha256-Q4hHuCrh1D5C1Gtay9OdqNXIIVeXbBAg3PNwNjZ5X6w= sha512-+S7NuHcNoLVOE1pQrdv7niJTNuIOEqv9aNxvK5ilXhKjxceJ0K1Dt8RGaYBrCtuYcXSKGkM1eHyRCl0nF+BFKA=='
      crossorigin='use-credentials'
      )
      
    

  body
    #root
      setup(telemetry-id=telemetryClientID, wiki-version=packageObj.version)
